<table class='table table-sm'>
  <thead>
    <tr>
      <th colspan='15' align='center'>
        Payroll Closeout {{startDate}} - {{endDate}}
      </th>
    </tr>

    <tr>
      <th>Employee</th>
      <th>Work Code</th>
      <th class='text-right'>Mon</th>
      <th class='text-right'>Tue</th>
      <th class='text-right'>Wed</th>
      <th class='text-right'>Thu</th>
      <th class='text-right'>Fri</th>
      <th class='text-right'>Sat</th>
      <th class='text-right'>Sun</th>
      <th class='text-right'>Reg</th>
      <th class='text-right'>OT</th>
      <th class='text-right'>Total</th>
      <th class='text-right'>BiWkly</th>
      <th class='text-right'>Daily</th>
      <th class='text-right'>Rate</th>
    </tr>
  </thead>

  <tbody>
    {% for deptInfo in data %}
    <tr>
      <td colspan='15'>
        {{deptInfo.name}}
      </td>
    </tr>

    {% for empInfo in deptInfo.employees %}
    <tr>
      <td style='font-size: 24px;'>
        {{empInfo.last}}, {{empInfo.first}}
      </td>
      <td colspan='8'>
        Week 1:&nbsp;&nbsp;{{empInfo.weeks[0] | hhmm}} &nbsp;&nbsp;&nbsp;&nbsp;
        Week 2:&nbsp;&nbsp;{{empInfo.weeks[1] | hhmm}}
      </td>
      <td class='text-right'>
        {{empInfo.reg | hhmm}}
      </td>
      <td class='text-right'>
        {{empInfo.ot | hhmm}}
      </td>
      <td class='text-right'>
        {{empInfo.total | hhmm}}
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for workInfo in empInfo.works %}
		{% for weekInfo in workInfo.weeks %}
		{% if loop.first %}
    <tr>
		{% else %}
		<tr style='background-color: lightgrey;'>
		{% endif %}
      {% if workInfo.method != 'T' %}
      <td></td>
      <td>{% if loop.first %} {{workInfo.code}} {% else %} {{workInfo.desc}} {% endif %}</td>
      <td class='text-right'>{{weekInfo.days[0] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[1] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[2] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[3] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[4] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[5] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.days[6] | hhmm}}</td>
      <td class='text-right'>{{weekInfo.reg | hhmm}}</td>
      <td class='text-right'>{{weekInfo.ot | hhmm}}</td>
      <td class='text-right'>{{weekInfo.total | hhmm}}</td>
      <td class='text-right'>{% if loop.first %} {% else %} {{weekInfo.biwkly | hhmm}} {% endif %}</td>
      <td class='text-right'>{{weekInfo.daily}}</td>
      <td class='text-right'>{% if loop.first %} {% else %} {{weekInfo.rate}} {% endif %}</td>
      {% else %}
      <td></td>
      <td>{% if loop.first %} {{workInfo.code}} {% else %} {{workInfo.desc}} {% endif %}</td>
      <td class='text-right'>{{weekInfo.days[0] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[1] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[2] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[3] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[4] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[5] | dollars}}</td>
      <td class='text-right'>{{weekInfo.days[6] | dollars}}</td>
      <td class='text-right'></td>
      <td class='text-right'></td>
      <td class='text-right'>{{weekInfo.total | dollars}}</td>
      <td class='text-right'>{% if loop.first %} {% else %} {{weekInfo.biwkly | dollars}} {% endif %}</td>
      <td class='text-right'></td>
      <td class='text-right'></td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
    <tr class='details'>
      <td colspan='15'>
      </td>
    </tr>

    <tr class='details'>
      <th>
        Clock In
      </th>
      <th>
        Clock Out
      </th>
      <th class='text-right'>
        Hours
      </th>
      <th class='text-right'>
        Tip
      </th>
      <th>
      </th>
    </tr>

    {% for work in empInfo.work %}
    <tr class='details'>
      <td>
        {{work.sdate | localDate}}
        {% if work.tippy %} {% else %} {{work.sdate | localTime}} {% endif %}
      </td>
      <td>
        {{work.edate | localDate}}
        {% if work.tippy %} {% else %} {{work.edate | localTime}} {% endif %}
      </td>
      <td class='text-right'>
        {% if work.tippy %} {% else %} {{work.hours}} {% endif %}
      </td>
      <td class='text-right'>
        {{work.tip}}
      </td>
      <td colspan='11'>
        {{work['Workcode.desc']}}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan='15'>
        <hr>
      </td>
    </tr>
    <tfoot style='page-break-before: always;'>
    </tfoot>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

<table class='table table-sm'>
  <tfoot>
    <tr>
      <td></td>
      <td colspan='8'>
        Week 1:&nbsp;&nbsp;{{totals.weeks[0] | hhmm}} &nbsp;&nbsp;&nbsp;&nbsp;
        Week 2:&nbsp;&nbsp;{{totals.weeks[1] | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.reg | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.ot | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.total | hhmm}}
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tfoot>
</table>