<table class='table table-sm'>
  <thead>
    <tr>
      <th colspan='15' align='center'>
        Payroll Closeout {{startDate}} - {{endDate}}
      </th>
    </tr>
    
    <tr>
      <th>Employee</th>
      <th>Work Code</th>
      <th class='text-right'>Mon</th>
      <th class='text-right'>Tue</th>
      <th class='text-right'>Wed</th>
      <th class='text-right'>Thu</th>
      <th class='text-right'>Fri</th>
      <th class='text-right'>Sat</th>
      <th class='text-right'>Sun</th>
      <th class='text-right'>Reg</th>
      <th class='text-right'>OT</th>
      <th class='text-right'>Total</th>
      <th class='text-right'>BiWkly</th>
      <th class='text-right'>Daily</th>
      <th class='text-right'>Rate</th>
    </tr>  
  </thead>
  
  <tbody>
    {% for deptInfo in data %}
      <tr>
        <td colspan='15'>
          {{deptInfo.name}}
        </td>
      </tr>

      {% for empInfo in deptInfo.employees %}
        <tr>
          <td>
            {{empInfo.last}}, {{empInfo.first}}
          </td>
          <td colspan='8'>
            Week 1:&nbsp;&nbsp;{{empInfo.weeks[0] | hhmm}} &nbsp;&nbsp;&nbsp;&nbsp;
            Week 2:&nbsp;&nbsp;{{empInfo.weeks[1] | hhmm}}
          </td>
          <td class='text-right'>
            {{empInfo.reg | hhmm}}
          </td>
          <td class='text-right'>
            {{empInfo.ot | hhmm}}
          </td>
          <td class='text-right'>
            {{empInfo.total | hhmm}}
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% for workInfo in empInfo.works %}
          {% for weekInfo in workInfo.weeks %}
            <tr>
              <td></td>
              <td>{% if loop.first %} {{workInfo.code}} {% else %} {{workInfo.desc}} {% endif %}</td>
              <td class='text-right'>{{weekInfo.days[0] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[1] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[2] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[3] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[4] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[5] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.days[6] | hhmm}}</td>
              <td class='text-right'>{{weekInfo.reg | hhmm}}</td>
              <td class='text-right'>{{weekInfo.ot | hhmm}}</td>
              <td class='text-right'>{{weekInfo.total | hhmm}}</td>
              <td class='text-right'>{% if loop.first %} {% else %} {{weekInfo.biwkly | hhmm}} {% endif %}</td>
              <td class='text-right'>{{weekInfo.daily}}</td>
              <td class='text-right'>{% if loop.first %} {% else %} {{weekInfo.rate}} {% endif %}</td>
            </tr>
          {% endfor %}
        {% endfor %}

        <tr class='details' style='display: block'>
          <td></td>
          <td></td>
          <td colspan='11'>
            <table>
              <thead>
                <tr>
                  <th>
                    Clock In
                  </th>
                  <th>
                    Clock Out
                  </th>
                  <th>
                    Hours
                  </th>
                  <th>
                    Tip
                  </th>
                  <th>
                  </th>
                </tr>
              </thead>
              {% for work in empInfo.work %}
              <tbody>
                <tr>
                  <td>
                    {{work.sdate | localDate}}
                    {% if work.tippy %} {% else %} {{work.sdate | localTime}} {% endif %}
                  </td>
                  <td>
                    {{work.edate | localDate}}
                    {% if work.tippy %} {% else %} {{work.edate | localTime}} {% endif %}
                  </td>
                  <td class='text-right'>
                    {% if work.tippy %} {% else %} {{work.hours}} {% endif %}
                  </td>
                  <td class='text-right'>
                    {{work.tip}}
                  </td>
                  <td>
                    {{work['Workcode.desc']}}
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
            <div style='page-break-after: always'></div>
            <div style='page-break-before: always'></div>
          </td>
        </tr>
      {% endfor %}

    {% endfor %}        
  </tbody>
</table>

<table class='table table-sm'>
  <tfoot>
    <tr>
      <th colspan='15'>
        <hr>
      </th>
    </tr>
    <tr>
      <td></td>
      <td colspan='8'>
        Week 1:&nbsp;&nbsp;{{totals.weeks[0] | hhmm}} &nbsp;&nbsp;&nbsp;&nbsp;
        Week 2:&nbsp;&nbsp;{{totals.weeks[1] | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.reg | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.ot | hhmm}}
      </td>
      <td class='text-right'>
        {{totals.total | hhmm}}
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
