{% extends "../../base.html" %}

{% block title %}
  Tip Entry
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    App.module = '/tenant/tips/';
    {% include "./tenant-tips-enter.js" %}
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id='mainPages'>
      {% include "./tenant-tips-navbar.html" %}
      {% include "./tenant-tips-enter.html" %}
      {% include "../../../mvc-addons/mvc-boot-cal.html" %}
      {% include "../../../mvc-addons/mvc-boot-time.html" %}
      {% include "../../../mvc-addons/mvc-modals.html" %}
    </div>
  </div>
{% endblock %}

{% block init %}
<script type="text/javascript">
  {% include "./tenant-tips.js" %}
</script>
{% endblock %}